<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signup</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="container">
    <h2>Reset Password</h2>
    <div id="step1" class="step">
      <input type="text" id="phone" placeholder="Enter phone number" />
      <div id="phone-status"></div>
      <div id="verify" class="step" >
        <input type="text" id="code" placeholder="Enter verification code" />
        <button onclick="sendfpCode()" id="codebutton">Send Code</button>
        <div id="timerText" aria-live="polite"></div>
        <div id="code-status"></div>
      </div>
      <div class="button_wrapper">  
        <button onclick="verifyfpCode()">Verify</button>
      </div>
    </div>


    <div id="step2" class="step" style="display: none;">
      <input type="password" id="password" placeholder="New Password" />
      <input type="password" id="conf_password" placeholder="Password Again" />
      <div id="pass-status"></div>
      
      <div class="cap-container">
        
        <input type="text" id="captcha" required autocomplete="off" placeholder="Enter what is in the image "/>
        
        <img id="captcha-image" title="Click to reload captcha" alt="captcha" />
      </div>
      <div class="button_wrapper">
      
        <button onclick="resetPass()">Reset Password</button>
      </div>
    </div>
    <div id="captcha-status"></div>
    <div id="all-status"></div>

  </div>
  
  <div id="Database-status"></div>
  <script src="/js/fpass.js"></script>
</body>
</html>
