<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8" />
  <title>History</title>
  <link rel="stylesheet" href="/css/history.css" />
  <!-- <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"> -->

  <style>
   
  </style>
</head>
<body dir="rtl">
  <nav>
      <header>
        <div class="loggedin">
          <span id="userName"></span>
          <button id="logoutBtn" class="nav-btn logoutbtn" onclick="logout()" style="display:inline-block;">خروج</button>
          <button id="historyBtn" class="nav-btn his-btn" style="display:inline-block;" onclick="goHome()" >صفحه اصلی</button>
          </div>
      </header>
    </nav>


  <div class="table-container" dir="rtl">
    <h2>لینک های فرستاده شده</h2>
    <table id="historyTable" dir="rtl">
      <thead>
        <tr>
          <th data-column="id" style="text-align: right;">شناسه</th>
          <th data-column="link" style="text-align: right;">لینک ویدیو</th>
          <th data-column="created_at" style="text-align: right;">تاریخ درخواست</th>
          <th data-column="downloaded_url" style="text-align: right;">لینک دانلود</th>
          <th data-column="status" style="text-align: right;">وضعیت درخواست</th>

        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <div class="pagination">
      <button id="prevBtn" onclick="prevPage()">Previous</button>
      <span id="pageInfo"></span>
      <button id="nextBtn" onclick="nextPage()">Next</button>
    </div>
  </div>

 
  <!--  <script src="/js/bootstrap/bootstrap.min.js"></script> -->
 <script src="/js/history.js"></script>

</body>
</html>
