<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
  <div class="container">
    <h2>Login</h2>  
    
    <div id="phoneLogin" class="login-method">
      <input type="number" id="loginphone" placeholder="Phone Number" />
      <input type="password" id="loginPassword" placeholder="Password" />
      <a href="/auth/forgot-pass">forgotten your password?</a>
      <div class="cap-container">

        <input type="text" id="captcha" required autocomplete="off" placeholder="Enter what is in the image "/>
        
        <img id="captcha-image" title="Click to reload captcha" alt="captcha" />
      </div>

      <div id="phone-status"></div>
      <div class="button_wrapper">
        <button onclick="loginWithphone()">Login</button>
      </div>

    </div>

    <div id="all-status"></div>
    <div id="user-status"></div>
    <div><a href="/auth/reset-password"></a></div>
  </div>
  <div><span>don't have an account? sign up here</span></div>
  <div class="button_wrapper">
    <button class="signup" onclick="goSignUp()">Signup</button>
  </div>

  <div class="Database-status"></div>
  <script src="/js/login.js"></script>
</body>
</html>
