<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <!-- <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/css/login.css" />

</head>
<body>
  <div class="form-container">
    <h2>ورود</h2>  
    
    <div id="phoneLogin" class="login-method">
      <input type="number" id="loginphone" placeholder="شماره تلفن" />
      <input type="password" id="loginPassword" placeholder="رمز عبور" />
      <a href="/auth/forgot-pass">رمزتان را فراموش کرده اید؟</a>
      <div class="cap-container">

        <input type="text" id="captcha" required autocomplete="off" placeholder="اطلاعات درون عکس را وارد نمایید"/>
        
        <img id="captcha-image" title="Click to reload captcha" alt="captcha" />
        <button onclick="reloadCaptcha()" id="reloadcaptcha">
        <img src="/icons/reload.png" alt="reload" style="width:20px; height:20px;">
        </button>
        
      </div>
      
      <div id="phone-status"></div>
      <div class="button_wrapper">
        <button onclick="loginWithphone()">ورود</button>
      </div>
      
    </div>
    
    <div id="captcha-status"></div>
    <div id="all-status"></div>
    <div id="user-status"></div>
    <div><a href="/auth/reset-password"></a></div>
  </div>
  <div><span>حسابی ندارید؟ اینجا ثبت نام کنید</span></div>
  <div class="button_wrapper">
    <button class="signup" onclick="goSignUp()">ثبت نام</button>
  </div>

  <div class="Database-status"></div>
  <script src="/js/login.js"></script>
  <script src="/js/bootstrap/bootstrap.min.js"></script>

</body>
</html>
